.chart-contianer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first-chart {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.second-chart {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border: 1px solid #848b84b8;
    padding: 0px 10px;

}

div h3 .span2 {
    margin-left: 30px;
}

h3 span {
    border: 1px;
    padding: 0 10px;
    height: 10px;
    width: 50px;
    border-radius: 20%;

}

.span {
    background-color: red;
    color: red;
}

.span2 {
    background-color: rgb(0, 255, 81);
    color: rgb(0, 255, 81);
    margin-left: 10px;
}